<div class="currency-select">
  @let control = controlValue();
  <label [for]="id()">{{ label() }}</label>
  <select
    [id]="id()"
    [formControl]="control"
    required
    aria-required="true"
    [attr.aria-describedby]="id + 'Help ' + id + 'Error'">
    <option value="" disabled selected aria-label="Select currency">Wybierz walutę</option>
    @for (rate of rates(); track rate.code) {
      <option [value]="rate.code">
        {{ rate.currency | titlecase }} ({{ rate.code | uppercase }})
      </option>
    }
  </select>
  <div [id]="id + 'Help'" class="sr-only">Wybierz walutę z listy.</div>
  @if (control.invalid && (control.touched || control.dirty)) {
    @if (control.errors?.['required']) {
      <div>
        <small [id]="id + 'Error'"> Wybór waluty jest wymagany. </small>
      </div>
    }
  }
</div>
