@import "./../../../styles/variables";

.components-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid $medium-grey;
  border-radius: 4px;
  background-color: $light-grey;

  .switch {
    margin-top: 12px;
  }

  .submit {
    margin-top: 25px;
  }

  @media (max-width: 768px) {
    display: flex;
    max-width: 100%;

    form {
      width: 100%;
    }
  }
}
