$white: rgb(255, 255, 255);
$light-grey: rgb(246, 247, 250);
$medium-grey: rgb(222, 226, 230);
$dark-grey: rgb(186, 186, 186);
$blue: rgb(1, 84, 151);
$black: rgb(0, 0, 0);
$grey: rgb(115, 115, 115);
$red: rgb(173, 0, 0);
$lightest-grey: rgb(239, 239, 239);
$off-white: rgb(231, 255, 255);
$dark-yellow-focus: rgb(255, 200, 0);
